.header {
	background-color: bisque;
}

.title {
	color: red;
}

.nav-bar {
	display: flex;
}

.menu-list {
	display: flex;
	column-gap: 30px;
}

.main-section {
	display: flex;
}

.left-side-box {
	background-color: grey;
	width: 15%;
	
}

.left-side-box nav {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	align-items: center;
	padding-top: 15px;
}

.main-content {
	display: flex;
	flex-direction: column;
	width: 85%;
	padding: 15px;
}
